.App {
  text-align: center;
}

table {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #256d6d;
  cursor: pointer;
}

.message-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-family: fantasy;
}

button {
  margin-top: 1.2rem;
  background-color: red;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
  transition: all .4s ease-in-out;
}

button:hover {
  font-size: 2rem;
  background-color: green;
  color: white;
}

.white {
  height: 60px;
  width: 60px;
  background-color: #FFF;
  border-radius: 100px;
}

.red {
  height: 60px;
  width: 60px;
  background-color: rgb(255, 0, 0);
  border-radius: 100px;
  transition: background-color 0.5s;
}

.yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 0.5s;
}